:root{
    --bg1:#9b59b6;
    --bg2:#3598db;
    --text:#26ade4; 
  }
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
  }
.wrapper{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(#654ea3, #eaafc8);
    position: absolute;
}
.slide{
    width: 800px;
    height: 400px;
    position: relative;
    /* background-color: #fff; */
    left: 13%;
    top:20%;
}
.title span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
}
.content h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.3rem;
    line-height: 1.333;
    color: #ffffff;
    margin-top: 10px;
}
.content{
    margin: 20px;
    width: 100vh;
    height: auto;
}
.social{
    height: 200px;
    width: 50px;
    position: relative;
    left: 1500px;
    bottom: 200px;
}
.social ul li{
    list-style: none;
    margin-top: 35px;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: #f7f5ef;
}
.navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.navbar ul li{
    list-style: none;

}

.navbar ul li a{
    text-decoration: none;
    color: black;
    margin-left: 100px;
    border: 10px;
    height: 50px;
    width: 300px;
}
.container-login a{
    text-decoration: none;
  }
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right,var(--bg1),var(--text));
}
#form-login{
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius:10px;
    padding: 40px 30px;
}
#form-login button{
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(to bottom right,var(--bg1),var(--text));
    border: none;
    color: #fff;
    border-radius: 5px;
}
#form-login h1{
    margin-bottom: 40px;
}
.form-text {
    margin-bottom: 40px;
    position: relative;
}
.form-text input{
    width: 100%;
    height: 35px;
    border:none;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    padding-left: 12px;
}
.form-text label{
    position: absolute;
    left: 12px;
    bottom: 12px;
    transition: 0.5s;
}
.form-text label.focus{
    transform: translateY(-45px);
}
#form-login a{
    margin-top: 10px;
}
.title-content{
    width: 100%;
    height: 50px;
}
.row{
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.input{
    margin-top: 20px;
}
.row input{
    width: 200px;
}
.btn-input button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    border: 10px;
    cursor: pointer;
}
.btn-input button:hover{
    background-color: black;
    color: #ccc;
}